body{
    background-color: rgb(255, 255, 255);
    color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    background-image: url("assets/Wallpaper2.png");
    background-size: cover;

    text-align: center;
    justify-content: center;
    display: flex;
}

.caixa{
    background-color:darkgray;
    padding: 20px;
    margin: 10px;
    width: 400px;
}


